@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    background-color: #262626;
    color: white;
}

.box {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin: 10px;
    border-radius: 9999px;
    background-color: #171717;
    padding: 10px;
}

button:hover {
    background-color: inherit;
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
}

.tile {
    text-align: center;
    background-color: rgb(80, 80, 80);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    min-width: 10rem;
}

img.tileinside {
    border-radius: 20px;
}

@media(max-width: 1140px) {
    .aea {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width: 60em) {
    .aea {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .texty1 {
        padding: 1rem;
        font-size: 18px;
    }

    .grid {
        grid-template-columns: 0fr 1fr 1fr 0fr 1fr 1fr 1fr;
    }
}

@media(max-width: 40em) {

    .aea {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .texty1 {
        padding: 0.3rem;
        font-size: 15px;
    }

    .grid {
        grid-template-columns: 0fr 1fr 1fr 0fr 1fr 1fr 1fr;
        display: grid;
        justify-content: center;
    }
}