@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    background-color: #262626;
    color: white;
}

.box {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin: 10px;
    border-radius: 9999px;
    background-color: #171717;
    padding: 10px;
}

button:hover {
    background-color: inherit;
    color: black;
}

.grid {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.tile {
    text-align: center;
    background-color: rgb(80, 80, 80);
    padding: 5px;
    border-radius: 20px;
    min-width: 10rem;
}

img.tileinside {
    border-radius: 20px;
}

.visirstylin{
    background-color: red;
}
