@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');

body {
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    background-color: #262626;
    color: white;
}

.box {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin: 10px;
    border-radius: 9999px;
    background-color: #171717;
    padding: 10px;
}

button:hover {
    background-color: inherit;
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
}

.tile {
    text-align: center;
    background-color: rgb(80, 80, 80);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

img.tileinside {
    border-radius: 20px;
}